<header class="top-header">
    <a href="/" class="logo-header navbar-brand">ELEXES</a>
    <% if(user) { %>
        <div class="dropdown right-nav-button">
             <a class="dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src="<%= photo %>" alt="User Profile" class="img-circle">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    <% } else { %>
    <a class="right-nav-button" href="/authorize/">
        <button class="btn btn-primary">
        <i class="fa fa-google-plus fa-lg visible-xs"></i>
        <div class="hidden-xs">Sign in using Google Account</div>
        </button>
    </a>
    <% } %>
</header>