<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    <% include partials/initiate %>
    <div class="container-fluid">
    <section>
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Document Control Admin Page</h1>
        </div>
        <div class="btn-toolbar">
             <button type="button" class="btn btn-default">Manage Org</button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#initiate">Initiate a change</button>
            <button type="button" class="btn btn-default">Your pending actions <span class="badge bg-danger">5</span></button>
            <button type="button" class="btn btn-default">All published documents</button>
        </div>
        <h2>Your Pending Actions</h2>
        <div class="action-bar">
            <div class="row">
                <div class="col-xs-1"><i class="fa fa-file-text fa-3x hidden-xs"></i></div>
                <div class="col-xs-11">
                    <div class="row">
                        <p class="col-md-6">DC wants you to review changes done by Michael.</p>
                        <div class="col-md-6 btn-toolbar">
                            <button type="button" class="btn btn-danger">View Details</button>
                            <button type="button" class="btn btn-warning">Assign Reviewers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <% include partials/footer %>
</body>

</html>
