<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    <section class="container">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>One place to discover and improve all your documents!</h1>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-default">Initiate a change</button>
            <button type="button" class="btn btn-default">Your pending actions <span class="badge">5</span></button>
            <button type="button" class="btn btn-default">All published documents</button>
            <button type="button" class="btn btn-default">Your saved data</button>
        </div>
    </section>

    <% include partials/footer %>
</body>

</html>
