<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    <section id="hero" class="container-fluid">
    Welcome <%= user %>
        <div class="col-lg-10 col-lg-offset-1">
            One place to discover and improve all your documents!
        </div>
    </section>

    <section id="quick-btn" class="container">
        <div class="btn-toolbar">
            <button type="button" class="btn btn-default">Initiate a change</button>
            <button type="button" class="btn btn-default">Your pending actions <span class="badge">5</span></button>
            <button type="button" class="btn btn-default">All published documents</button>
            <button type="button" class="btn btn-default">Your saved data</button>
        </div>
    </section>
    <% include partials/footer %>
</body>

</html>
