.btn {
    font-weight: $regular;
    transition: $base-cubic-transition;
    .badge {
        top: -15px;
        right: -15px;
    }
}
.btn-primary {
    color: #fff !important;
    user-select: none;
    text-transform: uppercase;
    border: 0;
    background: $primary-color !important;
    &:hover, &:focus, &:active, &.active {
        outline: none;
        color: #fff;
        background: $primary-color-hover;
    }
}
.btn-success {
    color: green;
    background-color: $base-background-color;
    border-color: $main-color;
}
.btn-warning {
    color: orange;
    background-color: $base-background-color;
    border-color: $main-color;
}
.btn-danger {
    color: red;
    background-color: $base-background-color;
    border-color: $main-color;
}