$nav-color: rgba(255, 255, 255, 0.9);
$nav-color-hover: #cfcfcf;
$nav-scroll-color: rgba(0, 0, 0, .5);
$nav-scroll-color-hover: rgba(0, 0, 0, .8);

.top-header {
    position: fixed;
    z-index: 500;
    width: 100%;
    background: none repeat scroll 0% 0% $nav-color;
    padding: 0 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.15);
    font-size: $h2-font-size;
}
.logo-header {
    display: block;
    float: left;
    margin: 5px;
}
.right-nav-button {
    margin: 10px 10px 0 0;
    float: right;
    opacity: 1;
    display: block;
    font-size: $base-font-size;
    .img-circle {
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
    }
}
